* {
  margin: 0;
  padding: 0;
}
.phone_screen_gallery {
  display: none;
}
.c-corps-phone {
  width: 100%;
  height: 619px;
  background-color: #000;
}
.c-logo-phone {
  width: 100%;
  vertical-align: middle;
}
.c-corps-cp {
  display: none;
}
.c-logo-cp {
  display: none;
}
.o-header-wrapper {
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 4);
  background-image: -webkit-linear-gradient(148deg, #999 7%, #bfbfbf 20%, #ccc 27%, #d8d8d8 60%, #e5e5e5, 67%, #f2f2f2 100%);
  background-image: linear-gradient(148deg, #999 7%, #bfbfbf 20%, #ccc 27%, #d8d8d8 60%, #e5e5e5, 67%, #f2f2f2 100%);
}
  .title-link {
    text-decoration: none;
    color: black;
  }
  .c-header-head {
    font: italic 800 60px bauhs93;
  }
  .c-header-subhead {
    display: none;
    font: normal 20px sans-serif;
  }

.o-nav-wrapper{
  width: 100%;
  height: 30px;
  background-color: #333;
  overflow: hidden;
}
  .c-nav-link {
    float: left;
    color: white;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    padding: 6px 8px;
  }

.tablesC {
  width: 100%;
}
table {
  padding: 10px;
}
.tablesT {
  width: 100%;
}
  #estim_table {
    width: 100%;
    text-align: center;
  }
  #progress1_table {
    width: 100%;
    text-align: center;
  }
  #task_table {
    width: 100%;
    text-align: center;
  }
  #new_task_table {
    width: 100%;
    text-align: center;
  }
  .c-td-small {
    font-size: 10px;
  }
  .c-td-big {
    font-size: 15px;
  }
  .o-tools-wrapper {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .c-pres {
    margin: auto;
    text-align: center;
    width: 90%;
  }

.o-timeline-wrapper {
  width: 100%;
}
  .c-subtitle {
    font: bold 50px Gabriola;
    text-align: center;
  }
  .c-subsubtitle{
    font: bold 25px Gabriola;
    padding-top: 10px;
    padding-left: 5px;
  }
.c-embed {
  display: none;
}
li.dropdown {
  display: none;
}

@media only screen and (min-width: 768px) {
  .c-header-head {
    font: italic 800 70px bauhs93;
  }
  .c-corps-phone {
    height: 907px;
  }
  img.resizeP {
    height: 70%;
  }
  .tablesC {
    margin: auto;
    width: 60%;
  }
  .tablesT {
    margin: auto;
    width: 60%;
  }
  .o-tools-wrapper {
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .c-subsubtitle {
    font: bold 30px Gabriola;
  }
}

@media only screen and (min-width: 1024px) {
  .c-corps-phone {
    display: none;
  }
  .c-logo-phone {
    display: none;
  }
  .c-corps-cp {
    display: block;
    width: 100%;
    background-color: #000;
  }
  .c-logo-cp {
    display: block;
    margin: auto;
    width: 45.8%;
    height: auto;
  }
  table{
    padding: 0;
  }
  .o-nav-wrapper {
    height: 50px;
  }
  .c-nav-link {
    padding: 14px 16px;
    font-size: 20px;
  }
  .c-nav-link:hover {
    background-color: #f78f40;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .c-header-subhead {
    display: block;
    padding-bottom: 10px;
  }
  .tablesC {
    width: 30%;
  }
  .tablesT {
    width: 30%;
  }
  th, td {
    padding: 5px 15px;
  }
  .tablesC tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  .tablesT tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .o-tools-wrapper {
    width: 50%;
    text-align: center;
  }
  .tablesC {
    width: 75%;
  }
  .tablesT {
    width: 80%;
  }
  #estim_table {
    float: left;
    width: 50%;
    padding: 10px 50px;
  }
  #progress1_table {
    width: 50%;
    padding: 10px 50px;
  }
  #task_table {
    float: left;
    width: 40%;
    padding: 10px 50px;
  }
  #new_task_table {
    width: 40%;
    padding: 10px 50px;
  }
  .c-td-small {
    font-size: 15px;
  }
  .c-td-big {
    font-size: 25px;
  }
  .c-pres {
    width: 50%;
  }
  .c-subsubtitle {
    font: bold 35px Gabriola;
    padding-top: 10px;
    padding-left: 15px;
  }
  .c-text {
    font-size: 18px;
    padding-left: 20px;
  }
  .c-embed {
    display: block;
    margin: auto;
    width: 30%;
    height: 700px;
  }
  .c-dl-a {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  .c-dl-btn {
    background: #d93434;
    background-image: -webkit-linear-gradient(top, #d93434, #b82b5e);
    background-image: -moz-linear-gradient(top, #d93434, #b82b5e);
    background-image: -ms-linear-gradient(top, #d93434, #b82b5e);
    background-image: -o-linear-gradient(top, #d93434, #b82b5e);
    background-image: linear-gradient(bottom, #d93434, #b82b5e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 1px 1px 5px #666666;
    -moz-box-shadow: 1px 1px 5px #666666;
    box-shadow: 1px 1px 5px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .c-dl-btn:hover {
    cursor:pointer;
    background: #f78f40;
    background-image: -webkit-linear-gradient(top, #f78f40, #db6d18);
    background-image: -moz-linear-gradient(top, #f78f40, #db6d18);
    background-image: -ms-linear-gradient(top, #f78f40, #db6d18);
    background-image: -o-linear-gradient(top, #f78f40, #db6d18);
    background-image: linear-gradient( bottom, #f78f40, #db6d18);
    text-decoration: none;
  }
  .tools {
    display: none;
  }
  li.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .down{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-left: 5px;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .phone_screen_gallery {
    display: block;
  }
  .c-gallery-item {
    margin: auto;
    padding: 10px;
    width: image width px;
    font-size: 80%;
    text-align: center;
  }
  .c-gallery-img {
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 0.5em;
  }
}
