html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
ul,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

/* -- Code -- */
/* -- Global -- */
html {
  font-size: 100%;
  background-color: #fff; }

body {
  /* Position */
  /* Box-model */
  /* Typography */
  font: normal 16px sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  /* Visual */
  background: #fff; }

main,
nav,
header,
footer,
section {
  display: block; }

th, td {
  padding: 5px 15px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #DA680F/*metallic orange*/;/*#4CAF50 for green*/
}

.title-link {
    text-decoration: none;
    color: black;
}

.c-header {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 150px;
  vertical-align: middle;
  text-align: center;
  clear: both;
  color: #000;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 4);
  box-shadow:0 0 5px 0 rgba(0, 0, 0, 4);
  background-image: linear-gradient(148deg, #999 7%, #bfbfbf 20%, #ccc 27%, #d8d8d8 60%, #e5e5e5, 67%, #f2f2f2 100%); }

  .c-header-title {
    float:center; }
  .c-header-head {
    font: italic 800 60px bauhs93; }
  .c-header-subhead {
    font: normal 20px sans-serif; }

.c-corps {
  background-color: #000; }

.c-logo {
  position: relative;
  align-content: center;
  height: 590px;
  width: 50%;
  margin-left: 25%;
  }

.c-subtitle {
  font: bold 35px Algerian;
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
}

.c-subsubtitle{
  font: bold 30px Arial;
  padding-top: 10px;
  padding-left: 5px;
}

.c-text {
  padding-left: 15px;
}

#tables {
  position: relative;
  width:100%;
  height: 300px;
  font-size: 15px;
  text-align: center;
}

#estim_table {
  position: relative;
  width: 27.5%;
  left: 18%;
}

#progress1_table {
  position: relative;
  width: 27.5%;
  left: 52%;
  top: -79%;
}

#task_t {
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
}

#task_table {
  position: relative;
  left: 15%;
}

#new_task_table {
  position: relative;
  left: 55%;
  top: -93%;
}

.c-td-small {
  font-size: 15px;
}

.c-td-big {
  font-size: 25px;
}
