* {
  margin: 0;
  padding: 0;
}

.c-corps {
  width: 100%;
  height: 619px;
  background-color: #000;
}
.c-logo {
  width: 100%;
  vertical-align: middle;
}

.o-header-wrapper {
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 4);
  background-image: -webkit-linear-gradient(148deg, #999 7%, #bfbfbf 20%, #ccc 27%, #d8d8d8 60%, #e5e5e5, 67%, #f2f2f2 100%);
  background-image: linear-gradient(148deg, #999 7%, #bfbfbf 20%, #ccc 27%, #d8d8d8 60%, #e5e5e5, 67%, #f2f2f2 100%);
}
  .title-link {
    text-decoration: none;
    color: black;
  }
  .c-header-head {
    font: italic 800 60px bauhs93;
  }
  .c-header-subhead {
    display: none;
    font: normal 20px sans-serif;
  }

.o-nav-wrapper{
  width: 100%;
  height: 30px;
  background-color: #333;
  overflow: hidden;
}
  .c-nav-link {
    float: left;
    color: white;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    padding: 6px 8px;
  }

.tables {
  width: 100%;
}
  #estim_table {
    width: 100%;
    text-align: center;
  }
  #progress1_table {
    width: 100%;
    text-align: center;
  }
  #task_table {
    width: 100%;
    text-align: center;
  }
  #new_task_table {
    width: 100%;
    text-align: center;
  }
  .c-td-small {
    font-size: 10px;
  }
  .c-td-big {
    font-size: 15px;
  }
  .o-tools-wrapper {
    width: 100%;
    padding-left: 5px;

  }
  .c-tools {
    margin-left: 30px;
    list-style-type: circle;
  }
  .c-pres {
    margin: auto;
    text-align: center;
    width: 90%;
  }


.o-timeline-wrapper {
  width: 100%;
}
  .c-subtitle {
    font: bold 50px Gabriola;
    text-align: center;
  }
  .c-subsubtitle{
    font: bold 25px Gabriola;
    padding-top: 10px;
    padding-left: 5px;
  }

@media only screen and (min-width: 768px) {
  .c-header-head {
    font: italic 800 70px bauhs93;
  }
  .c-corps {
    height: 907px;
  }
  img.resize {
    height: 70%;
  }
  .tables {
    margin: auto;
    width: 60%;
  }
  .c-subsubtitle {
    font: bold 30px Gabriola;
  }
}

@media only screen and (min-width: 1024px) {
  .o-nav-wrapper {
    height: 50px;
  }
  .c-nav-link {
    padding: 14px 16px;
    font-size: 20px;
  }
  .c-nav-link:hover {
    background-color: #DA680F;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .c-header-subhead {
    display: block;
    padding-bottom: 10px;
  }
  .tables {
    width: 30%;
  }
  th, td {
    padding: 5px 15px;
  }
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  .c-td-small {
    font-size: 15px;
  }
  .c-td-big {
    font-size: 25px;
  }
  .c-pres {
    width: 50%;
  }
  .c-subsubtitle {
    font: bold 35px Gabriola;
    padding-top: 10px;
    padding-left: 15px;
  }
  .c-text {
    font-size: 18px;
    padding-left: 20px;
  }
  c.logo {
  }
  img.resize {
    width: 50%;
    height: 500px;

  }

}
